spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/kuji_db
    username: kuji_user
    password: kuji2025local!
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080
